# OPENWEATHER_API_KEY=
# GOOGLE_MAPS_API_KEY=
# HERE_API_KEY=
# NASA_FIRMS_API_KEY=
# USGS_API_ENABLED=
# GEMINI_API_KEY=
# GCP_PROJECT_ID=
# ORS_API_KEY=
# GRAPHHOPPER_API_KEY=
# OSRM_BASE_URL=
# USE_IN_MEMORY_DB=